doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title View
        script(src="https://cdn.socket.io/3.1.3/socket.io.min.js")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")

        link(rel="stylesheet", type="text/css", href="/static/css/bulma.css")

    body()
        nav(class="navbar is-dark")
            div(class="navbar-menu")
                div(class="navbar-start")
                    a(class="navbar-item", id="web_browser_navigation_go_back")
                        img(src="https://img.icons8.com/material-rounded/24/FFFFFF/left.png")
                    a(class="navbar-item", id="web_browser_navigation_go_forward")
                        img(src="https://img.icons8.com/material-rounded/24/FFFFFF/right.png")
                    a(class="navbar-item", id="web_browser_navigation_reload")
                        img(src="https://img.icons8.com/material-rounded/20/FFFFFF/recurring-appointment.png")
                div(class="navbar-item")
                    form(id="web_browser_url_bar_form")
                        input(class="input is-darker", id="web_browser_url_bar") 

                div(class="navbar-end")
                    //- a(class="navbar-item button is-primary")="Go"
                    //- a(class="navbar-item")="Close"

        div(id="web_browser")
            img(id="screen", onmousemove="getMousePosition")
        script(defer, src="/static/js/view.js")

        style.
            .is-dark {
                background-color: #35363A !important;
            }

            .is-darker {
                background-color: #292A2D !important;
                color: #FFFFFF;
            }

            body::-webkit-scrollbar {
                display: none;
            }

            body {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }

            .navbar {
                min-height: 0px;
            }

            .navbar-menu {
                padding: 0px !important; 
            }

            #web_browser {
                display: table;
                overflow: hidden;
                width: 100%;
                height: 100%;
            }

            #screen {
                width: 100%;
                height: 100%;
            }

            #web_browser_url_bar {
                width: 500px;
                height: 30px !important;
                border-radius: 20px;
            }
