form(action="/search", method="get")
    article(class="message result")
        div(class="message-body")
            div(class="field has-addons")
                div(class="control is-expanded")
                    input(class="input", type="text", name="q", placeholder="Cute doggos")
                div(class="control")
                    button(class="button is-dark", id="search-button") Search
                    
            //- li Note: Searching something that hasn't been searched before might take a little longer to load.

            if results
                li Found #{results.length} Results.


include ../scripts/search