extends layouts/main

block body
    include partials/search

    div(id="news")

    script.
        //- fetch("/google/news").then(res => res.json().then(res => {
        //-     console.log(res);
        //- }));