extends layouts/main

block body
    include partials/search

    if !query.newsDisabled
        div(class="has-text-centered", id="news")
            article(class="message result")
                div(class="message-body")
                    h2(class="label") News
                    div(id="content")
                        label Loading....

        include scripts/home

    //- script(src="/static/js/home.js")
    
    //- include scripts/home
        //- fetch("/google/news").then(res => res.json().then(res => {
        //-     console.log(res);
        //- }));