extends layouts/main

block body
    include partials/search

    div(id="results")
        if Results.length > 0
            each result in Results
                include partials/result

    script(src="/static/js/results.js")

    script.
        document.addEventListener("DOMContentLoaded", load());
        //- load();