extends layouts/main

block body
    include partials/search

    if !query.newsDisabled && false
        div(class="has-text-centered", id="news")
            article(class="message result")
                div(class="message-body")
                    h2(class="label") News
                    div(id="content")
                        label Loading....

    script(src=`/static/js/home.js`, defer)
        //- include scripts/home