extends layouts/main

block body
    
    include partials/search

    //- working on this
    //- article(class="message result")
    //-     div(class="message-body")
    //-         label(style="text-align: center;", id="preview_image")

    div(id="results")
        if results.length > 0
            each result in results
                include partials/result

    script(src=`/static/js/search.js`, defer)
    //- include scripts/results
    link(rel="stylesheet", type="text/css", href="/static/css/search.css")