extends layouts/main

block body
    include partials/search

    div(id="results")
        if results.length > 0
            each result in results
                include partials/result

    script(src=`/static/js/search.js`, defer)
    //- include scripts/results