script.
    window.__search_engine__ = {};

if results
    script.
        window.__search_engine__.results = !{JSON.stringify(results)};
        window.__search_engine__.load_time = !{JSON.stringify(load_time)};